@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Amenities";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Amenities
                <small>at the Delonix Regia Hotel</small>
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://dvcpqzrjfwvhx.cloudfront.net/600x400/a_c/1.%20Gran%20Hotel%20Son%20Net%20Pool_cp.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h3>Our Amenities</h3>
            <p>
                The Hotel Delonix Regia provides you with complementary amenities so that your stay with us is unforgettable
            </p>
            <h3>Guest services</h3>
            <ul>
                <li>2Swimming pool and cabana rental: Relish in our 30 metre long pool and rent one of our private cabanas that surround it</li>
                <li>Beauty Lounge: beauty treatments done by our specialised personnel</li>
                <li>Gym: Fully equipped gym to exercise during your stay</li>
            </ul>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Our Amenities</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://www.sonnet.es/media/gran-hotel-son-net-imageLink03-beauty-treatments-gran-hotel-son-net1.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="https://i0.bookcdn.com/data/Photos/OriginalPhoto/1049/104985/104985740/Gran-Hotel-Son-Net-photos-Facilities.JPEG" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://dvcpqzrjfwvhx.cloudfront.net/600x400/s_v/View%20from%20hotel_cp.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://www.little-lobster.com/upload/news-images/resized/1453735072_2016_01_25_son_net_600x400.jpg" alt="">
            </a>
        </div>

    </div>


    <hr>


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


