@{
    ViewBag.Title = "Room";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Rooms
                <small>at the Delonix Regia Hotel</small>
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://www.sonnet.es/media/gran-hotel-son-net-room-07-01-royal-suite-gran-hotel-son-net.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h3>Our Rooms</h3>
            <p>The hotel’s turn-of-the-century origins are evident in the  subdued colors, discreet patterns, rich fabrics, and classic paintings and prints. Ideal for business or leisure, the hotel offers Wi-Fi and smartly designed work areas in each guest room. Slip into your plush slippers and robe after a long day, and experience the finest luxury the Eternal City has to offer.</p>
            <h3>Guest services</h3>
            <ul>
                <li>24-hour Concierge</li>
                <li>24-hour Room Service</li>
                <li>Daily newspaper</li>
                <li>Wi Fi internet connection in rooms and public areas</li>
            </ul>

            <h3>Room Types</h3>
            <ul>
                <li>24-hour Concierge</li>
                <li>24-hour Room Service</li>
                <li>Daily newspaper</li>
                <li>Wi Fi internet connection in rooms and public areas</li>
            </ul>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Our Rooms</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://www.greatsmallhotels.com/photos/20993_gran-hotel-son-net_.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://www.tnetnoc.com/hotelphotos/301/1039301/2241284-Gran-Hotel-Son-Net-in-Room-Amenity-2-RTS.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://www.sonnet.es/media/gran-hotel-son-net-room-gran-suite-living-room.jpg" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://www.sonnet.es/media/gran-hotel-son-net-imageLink03-rooms-example-son-net.jpg" alt="">
            </a>
        </div>

    </div>


    <hr>


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


